<section>
    <video autoplay="autoplay" loop="loop" muted="muted">
        <source src="http://localhost:1337/uploads/pexels_mikhail_nilov_6964486_be0409d553.mp4?updated_at=2022-05-25T22:02:07.631Z" type="video/mp4"/>
    </video>
    <div class="text">
        <h1>
            Endlich wider eigenständig leben. Wir bieten die Lösung für Menschen mit Sehschwächen.
        </h1>
    </div>
</section>
<section>
    <article>
        <div>
            <p>3D Bild Platzhalter</p>
        </div>
        <div class="callToAction">
            <div><button type="button">Telefonat vereinbaren</button></div>
            <div><button type="button">Testkit bestellen</button></div>
        </div>
    </article>
</section>
<section>
    <video autoplay="autoplay" loop="loop" muted="muted">
        <source src="http://localhost:1337/uploads/pexels_nothing_ahead_10505868_8d0567c804.mp4?updated_at=2022-05-24T22:05:14.147Z" type="video/mp4"/>
    </video>
    <div class="text">
        <h1>
            Einfach,<br> besonders und genau!
        </h1>
    </div>
</section>
<section>
    <article>Section 2</article>
</section>
<!-- <section>
    <article>Section 3</article>
</section> -->
<!-- <section>
    <article>Section 4</article>
</section> -->