<section>
    <video autoplay loop muted>
        <!-- <source src="/Feelware/assets/video/pexels-mikhail-nilov-6964486.mp4" type="video/mp4"/> -->
        <source src="../../assets/video/pexels-mikhail-nilov-6964486.mp4" type="video/mp4"/>
    </video>
    <div class="text">
        <h1>
            Endlich wider eigenständig leben. Wir bieten die Lösung für Menschen mit Sehschwächen.
        </h1>
    </div>
</section>
<section>
    <article>
        <div>
            <p>3D Bild Platzhalter</p>
        </div>
        <div class="callToAction">
            <div><button type="button">Telefonat vereinbaren</button></div>
            <div><button type="button">Testkit bestellen</button></div>
        </div>
    </article>
</section>
<section>
    <video autoplay="autoplay" loop="loop" muted="muted">
        <!-- <source src="/Feelware/assets/video/pexels-nothing-ahead-10505868.mp4" type="video/mp4"/> -->
        <source src="../../assets/video/pexels-nothing-ahead-10505868.mp4" type="video/mp4"/>
    </video>
    <div class="text">
        <h1>
            Einfach,<br> besonders und genau!
        </h1>
    </div>
</section>
<section>
    <article>Section 2</article>
</section>
<!-- <section>
    <article>Section 3</article>
</section> -->
<!-- <section>
    <article>Section 4</article>
</section> -->