<div class="impressumCon">
    <div id="comp-judtgqlo" class="_1Q9if" data-testid="richTextElement">
        <h1 class="font_0">Impressum</h1>
    </div>
    <div id="comp-judum85v" class="qhwIj ignore-focus" tabindex="-1" role="region" aria-label="Anchor Impressum">&nbsp;</div>
    <div id="comp-judthohe" class="_1Q9if" data-testid="richTextElement">
        <p class="font_8">Gesetzliche Anbieterkennung:<br />Feelware BV<br />Kloosterweg 1<br />6412 CN Heerlen<br />Niederlande</p>
        <p class="font_8">Telefon NL_ +31 68 277 0613</p>
        <p class="font_8">Telefon DE: +49 157 571 656 93<br />E-Mail: hallo@feelware.eu</p>
        <p class="font_8">KvK Nummer: 83316183<br />&nbsp;</p>
        <p class="font_8"><br />Inhaltlich Verantwortlicher gem&auml;&szlig; &sect; 55 RStV:<br />Feelware BV, Kloosterweg 1, NL-6412 CN Heerlen</p>
        <p class="font_8"><span class="wixGuard">​</span></p>
        <p class="font_8">Alternative Streitbeilegung:<br />Die Europ&auml;ische Kommission stellt eine Plattform f&uuml;r die au&szlig;ergerichtliche Online-Streitbeilegung (OS-Plattform) bereit, aufrufbar unter&nbsp;<a href="https://ec.europa.eu/consumers/odr" target="_blank"
                rel="noopener">https://ec.europa.eu/odr</a>.</p>
        <p>&nbsp;</p>
        <p class="font_8">&nbsp;</p>
        <p class="font_8">Wir sind seit 12.04.2019 Mitglied der Initiative "FairCommerce".N&auml;here Informationen hierzu finden Sie unter&nbsp;<a href="https://www.fair-commerce.de/" target="_blank" rel="noopener">www.fair-commerce.de</a>.</p>
        <p>&nbsp;</p>
    </div>
</div>