$headerHeight: 5vh;
header {
    width: 100%;
    height: $headerHeight;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 3px 10px grey;
    div.div1 {
        padding: 3%;
        a {
            text-decoration: none;
            &:link {
                text-decoration: none;
            }
            &:hover {
                text-decoration: none;
            }
            &:active {
                text-decoration: none;
            }
            &:visited {
                text-decoration: none;
                color: black;
            }
        }
    }
    div.div2 {
        padding: 3%;
    }
}